body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f6ff;
}

.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #003ea9;
}

.login-box {
    width: 85%;
    max-width: 380px;
    background: white;
    padding: 25px;
    border-radius: 18px;
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.page {
    padding: 15px;
}

.header {
    background: #003ea9;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

.header-menu {
    cursor: pointer;
}

.section-title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 6px #0002;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    background: #003ea9;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
}

.btn-soft {
    width: 100%;
    padding: 12px;
    border: none;
    background: #dde7ff;
    border-radius: 25px;
    margin-top: 10px;
}

.btn-danger {
    width: 100%;
    padding: 12px;
    background: #d90000;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
}

.list {
    padding: 0;
    list-style: none;
}

.list-item {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 8px;
    box-shadow: 0 2px 6px #0001;
}
